body {
	background-color: BlueViolet  ;
 font-family:verdana;
 color:white;
 font-family: "Comic Sans MS", cursive, sans-serif;
 }
h1   {
 color:white;
 padding:5px;
 }
 
 button{
 background-color:black;
 color:white;
 border-radius: 8px;
 border: 0px solid black;
 font-size:15px;
 padding: 10px 15px;
 }
 button:hover{
	  padding: 12px 17px;
 }
 input[type=text] {

    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 8px;
}
 input[type=email] {

    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 8px;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-shadow: 5px 3px black;
	font-size: 25px;
}
li{
	border-bottom-style:dashed;
	border-width: 1px;
	padding-top:10px;
	list-style:none;
}
